{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Politique de confidentialité
{% endblock %}

{% block body %}

    {% if not app.user %}
    <a href="{{path('home') }}">
        <img src="{{ asset('img/logo1.png') }}" alt="LOGO ICI" class="mb-5 mt-3 w-25" >
    </a>
    {% endif %}

<<<<<<< HEAD
    <p>Politique de confidentialité
        Le site web Campus est détenu par Campus, qui est un contrôleur de données de vos données personnelles.
        
        Nous avons adopté cette politique de confidentialité, qui détermine la manière dont nous traitons les informations collectées par Campus, qui fournit également les raisons pour lesquelles nous devons collecter certaines données personnelles vous concernant. Par conséquent, vous devez lire cette politique de confidentialité avant d'utiliser le site web de Campus.
        
        Nous prenons soin de vos données personnelles et nous nous engageons à en garantir la confidentialité et la sécurité.
        
        Les informations personnelles que nous collectons :
        Lorsque vous visitez le Campus, nous recueillons automatiquement certaines informations sur votre appareil, notamment des informations sur votre navigateur web, votre adresse IP, votre fuseau horaire et certains des cookies installés sur votre appareil. En outre, lorsque vous naviguez sur le site, nous recueillons des informations sur les pages web ou les produits individuels que vous consultez, sur les sites web ou les termes de recherche qui vous ont renvoyé au site et sur la manière dont vous interagissez avec le site. Nous désignons ces informations collectées automatiquement par le terme "informations sur les appareils". En outre, nous pourrions collecter les données personnelles que vous nous fournissez (y compris, mais sans s'y limiter, le nom, le prénom, l'adresse, les informations de paiement, etc.) lors de l'inscription afin de pouvoir exécuter le contrat.
        
        <h3>Pourquoi traitons-nous vos données ?</h3>
        
        Notre priorité absolue est la sécurité des données des clients et, à ce titre, nous ne pouvons traiter que des données minimales sur les utilisateurs, uniquement dans la mesure où cela est absolument nécessaire pour maintenir le site web. Les informations collectées automatiquement sont utilisées uniquement pour identifier les cas potentiels d'abus et établir des informations statistiques concernant l'utilisation du site web. Ces informations statistiques ne sont pas autrement agrégées de manière à identifier un utilisateur particulier du système.
        
        Vous pouvez visiter le site web sans nous dire qui vous êtes ni révéler d'informations, par lesquelles quelqu'un pourrait vous identifier comme un individu spécifique et identifiable. Toutefois, si vous souhaitez utiliser certaines fonctionnalités du site web, ou si vous souhaitez recevoir notre lettre d'information ou fournir d'autres détails en remplissant un formulaire, vous pouvez nous fournir des données personnelles, telles que votre e-mail, votre prénom, votre nom, votre ville de résidence, votre organisation, votre numéro de téléphone. Vous pouvez choisir de ne pas nous fournir vos données personnelles, mais il se peut alors que vous ne puissiez pas profiter de certaines fonctionnalités du site web. Par exemple, vous ne pourrez pas recevoir notre bulletin d'information ou nous contacter directement à partir du site web. Les utilisateurs qui ne savent pas quelles informations sont obligatoires sont invités à nous contacter via mkacem92@outlook.com.
        
        <h3>Vos droits :</h3>

        Si vous êtes un résident européen, vous disposez des droits suivants liés à vos données personnelles :
        
        Le droit d'être informé.
        Le droit d'accès.
        Le droit de rectification.
        Le droit à l'effacement.
        Le droit de restreindre le traitement.
        Le droit à la portabilité des données.
        Le droit d'opposition.
        Les droits relatifs à la prise de décision automatisée et au profilage.
        Si vous souhaitez exercer ce droit, veuillez nous contacter via les coordonnées ci-dessous.
        
        En outre, si vous êtes un résident européen, nous notons que nous traitons vos informations afin d'exécuter les contrats que nous pourrions avoir avec vous (par exemple, si vous passez une commande par le biais du site), ou autrement pour poursuivre nos intérêts commerciaux légitimes énumérés ci-dessus. En outre, veuillez noter que vos informations pourraient être transférées en dehors de l'Europe, y compris au Canada et aux États-Unis.
        
        <h3>Liens vers d'autres sites web :</h3>

        Notre site web peut contenir des liens vers d'autres sites web qui ne sont pas détenus ou contrôlés par nous. Sachez que nous ne sommes pas responsables de ces autres sites web ou des pratiques de confidentialité des tiers. Nous vous encourageons à être attentif lorsque vous quittez notre site web et à lire les déclarations de confidentialité de chaque site web susceptible de collecter des informations personnelles.
        
        <h3>Sécurité de l'information :</h3>
            
        Nous sécurisons les informations que vous fournissez sur des serveurs informatiques dans un environnement contrôlé et sécurisé, protégé contre tout accès, utilisation ou divulgation non autorisés. Nous conservons des garanties administratives, techniques et physiques raisonnables pour nous protéger contre tout accès, utilisation, modification et divulgation non autorisés des données personnelles sous son contrôle et sa garde. Toutefois, aucune transmission de données sur Internet ou sur un réseau sans fil ne peut être garantie.
        
        <h3>Divulgation légale :</h3>
            
        Nous divulguerons toute information que nous collectons, utilisons ou recevons si la loi l'exige ou l'autorise, par exemple pour nous conformer à une citation à comparaître ou à une procédure judiciaire similaire, et lorsque nous pensons de bonne foi que la divulgation est nécessaire pour protéger nos droits, votre sécurité ou celle d'autrui, enquêter sur une fraude ou répondre à une demande du gouvernement.
        
        <h3>Informations de contact :</h3>

        Si vous souhaitez nous contacter pour comprendre davantage la présente politique ou si vous souhaitez nous contacter concernant toute question relative aux droits individuels et à vos informations personnelles, vous pouvez envoyer un courriel à mkacem92@outlook.com.</p>
</div>
=======
    <div class="contenuCarte contenuCartePC" style="flex-direction:column; margin-top:140px;">
        <h1>Politique de confidentialité</h1>

        <p>Parce que nous pensons que vous ne devriez pas avoir à fournir d’informations personnelles pour participer au mouvement pour le savoir libre, vous pouvez :

            Lire, modifier ou utiliser tous les sites Wikimedia sans créer de compte.
            Créer un compte sans fournir une adresse électronique ou un véritable nom.
            Parce que nous voulons que vous compreniez comment les sites Wikimedia sont utilisés afin que nous puissions les améliorer, pour vous, nous collectons certaines informations lorsque vous :
            
            Apportez des contributions publiques.
            Créez un compte ou mettez à jour votre page d’utilisateur.
            Utilisez les sites Wikimedia.
            Vous nous envoyez des courriers électroniques ou lorsque vous participez à un sondage ou donnez votre avis.
            Nous nous engageons à :
            
            Décrire la manière dont vos informations peuvent être utilisées ou partagées dans la cette politique de confidentialité.
            Utiliser des mesures raisonnables pour conserver vos informations de façon sécurisée.
            Ne jamais vendre vos informations ou les partager avec des tiers à des fins de marketing.
            Uniquement partager vos informations dans certaines circonstances, par exemple pour améliorer les sites Wikimedia, pour respecter la loi ou pour vous protéger et protéger les autres.
            Conserver vos données pour une durée aussi courte que possible, qui soit compatible avec la maintenance, la compréhension et l’amélioration des sites Wikimedia ainsi que nos obligations en vertu de la loi applicable.
            Attention :
            
            Tout contenu que vous ajoutez ou toute modification que vous apportez à un site Wikimedia sera disponible publiquement et de façon permanente.
            Si vous ajoutez du contenu ou apportez une modification à un site Wikimedia sans vous connecter, ce contenu, ou cette modification, sera publiquement et définitivement attribué à l’adresse IP utilisée à ce moment-là plutôt qu’à un nom d’utilisateur.
            Notre communauté de rédacteurs et de contributeurs bénévoles est un organe auto-réglementé. Certains administrateurs des sites Wikimedia, choisis par la communauté, utilisent des outils leur donnant un accès limité à des informations non publiques concernant les contributions récentes, afin qu’ils protègent les sites Wikimedia et appliquent leurs politiques.
            Cette politique de confidentialité ne s’applique pas à tous les sites et services gérés par la Fondation Wikimedia, comme par exemple les sites ou services qui ont leur propre politique de confidentialité (comme la Boutique Wikimedia) ou ceux gérés par des tiers (comme les projets de développeurs tiers sur les Services cloud de Wikimedia).
            Dans le cadre de notre engagement en faveur de l’éducation et de la recherche dans le monde, nous diffusons occasionnellement des informations publiques, agrégées ou non personnelles au grand public par le biais de transferts et jeux de données.
            Pour la protection de la Fondation Wikimedia et des autres utilisateurs, si vous n’êtes pas d’accord avec la présente politique de confidentialité, vous ne devez pas utiliser les sites Wikimedia.</p>
    </div>
>>>>>>> fcf03274f4e392e0fb1eea181c505267bd8bfbb0


{% include "base/footerScroll.html.twig" %}
{% endblock %}
